name: amnezia-api

services:
  api:
    container_name: amnezia-api
    build:
      context: .
      dockerfile: Dockerfile
    image: amnezia-api
    pull_policy: never
    init: true
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    group_add:
      - "${DOCKER_GID:-999}"
    ports:
      - "127.0.0.1:4001:4001"
    environment:
      FASTIFY_ROUTES: "0.0.0.0:4001"
      ENV: "production"
      DOCKER_API_VERSION: "${DOCKER_API_VERSION:-1.41}"
    env_file:
      - .env
